body {
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    color: #777777;
}
header {
    
}

nav{

}

.about{

}

.portfolio {

}

.contact {

}

.main{

}

.main-content{
    
}

h1{
    color: #4aaaa5;
    font-family: font-family: 'Georgia', Times, Times New Roman, serif;
}

